@import url(http://weloveiconfonts.com/api/?family=entypo);
@import url(https://fonts.googleapis.com/css?family=Roboto);

/* zocial */
[class*="entypo-"]:before {
  font-family: 'entypo', sans-serif;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; 
}


h2 {
  color:rgb(76, 144, 247);
  margin-left:150px;
  
}
a {
    color:rgb(76, 144, 247);
    margin-left:50px;
    
  }

body {
  background: #272125;
  font-family: 'Roboto', sans-serif;
  
}

form {
  position:relative;
  margin: 50px auto;
  width: 380px;
  height: auto;
  top: 0px;
  margin-bottom: 70px;
}

input {
  padding: 16px;
  border-radius:7px;
  border:0px;
  background: rgba(10, 10, 10, 0.2);
  display: block;
  margin: 15px;
  width: 300px;  
  color:rgb(76, 144, 247);
  font-size:18px;
  height: 54px;
}



input:focus {
  outline-color: rgba(0,0,0,0);
  background: rgb(76, 144, 247);
  color: #ecc9c6;
}

button {
  float:right;
  height: 121px;
  width: 50px;
  border: 0px;
  background: rgb(76, 144, 247);
  border-radius:7px;
  padding: 10px;
  color:white;
  font-size:22px;
}

.inputUserIcon {
  position:absolute;
  top:80px;
  right: 80px;
  color:white;
}

.inputPassIcon {
  position:absolute;
  top:150px;
  right: 80px;
  color:white;
}

input::-webkit-input-placeholder {
  color: rgb(22, 21, 21);
}

input:focus::-webkit-input-placeholder {
  color: #ffffff;
}