/*@import url(http://weloveiconfonts.com/api/?family=entypo);
@import url(https://fonts.googleapis.com/css?family=Roboto);


[class*="entypo-"]:before {
  font-family: 'entypo', sans-serif;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; 
}


h2 {
  color:rgb(76, 144, 247);
  margin-left:150px;
  
}
a {
    color:rgb(76, 144, 247);
    margin-left:50px;
    
  }

body {
  background: #272125;
  font-family: 'Roboto', sans-serif;
  
}

form {
  position:relative;
  margin: 50px auto;
  width: 380px;
  height: auto;
  top: 0px;
  margin-bottom: 70px;
}

input {
  padding: 16px;
  border-radius:7px;
  border:0px;
  background: rgba(10, 10, 10, 0.2);
  display: block;
  margin: 15px;
  width: 300px;  
  color:rgb(76, 144, 247);
  font-size:18px;
  height: 54px;
}



input:focus {
  outline-color: rgba(0,0,0,0);
  background: rgb(76, 144, 247);
  color: #ecc9c6;
}

button {
  float:right;
  height: 121px;
  width: 50px;
  border: 0px;
  background: rgb(76, 144, 247);
  border-radius:7px;
  padding: 10px;
  color:white;
  font-size:22px;
}

.inputUserIcon {
  position:absolute;
  top:80px;
  right: 80px;
  color:white;
}

.inputPassIcon {
  position:absolute;
  top:150px;
  right: 80px;
  color:white;
}

input::-webkit-input-placeholder {
  color: rgb(22, 21, 21);
}

input:focus::-webkit-input-placeholder {
  color: #ffffff;
}*/








































@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap');

* {
  margin: 0;
  padding: 10px;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(to right, #fce4ec, #f8bbd0);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.login-card {
  display: flex;
  background: #fff;
  border-radius: 20px;
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  max-width: 850px;
  width: 100%;
}

.login-image {
  flex: 1;
  background: #fce4ec;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

.login-image img {
  width: 100%;
  max-width: 350px;
}

.login-form {
  flex: 1;
  padding: 40px;
  background: #fff;
}

.login-form h2 {
  color: #e91e63;
  margin-bottom: 30px;
  font-weight: 600;
  text-align: center;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  color: #333;
  font-size: 14px;
  margin-bottom: 5px;
  display: block;
}

.form-group input {
  width: 100%;
  padding: 12px 15px;
  border: 1px solid #ddd;
  border-radius: 10px;
  background-color: #fce4ec;
  font-size: 14px;
  color: #333;
  transition: 0.3s;
}

.form-group input:focus {
  outline: none;
  border-color: #e91e63;
  background-color: #fff0f5;
}

button {
  width: 100%;
  padding: 14px;
  border: none;
  background-color: #e91e63;
  color: white;
  font-size: 16px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
  margin-top: 15px;
}

button:hover {
  background-color: #c2185b;
}
