    <!-- About Start -->
        <div class="container-fluid py-5 about bg-light">
            <div class="container py-5">
                <div class="row g-5 align-items-center">
                    <div class="col-lg-5 wow fadeIn" data-wow-delay="0.1s">
                        <div class="video border">
                            <button type="button" class="btn btn-play" href="https://youtube/81iz8c-KDVY" data-bs-toggle="modal" data-src="https://youtu.be/81iz8c-KDVY" data-bs-target="#videoModal">
                                <span></span>
                            </button>
                        </div>
                    </div>
                    <div class="col-lg-7 wow fadeIn" data-wow-delay="0.3s">
                        <h4 class="text-primary mb-4 border-bottom border-primary border-2 d-inline-block p-2 title-border-radius">About Us</h4>
                        <h1 class="text-dark mb-4 display-5">How does LostProperty.org work?</h1>
                        <p class="text-dark mb-4">Do you have something to report, to help, any one today? Post it at Lost & Found, its free, for global people and very easy to use!
                        </p>
                        <div class="row mb-4">
                            <div class="col-lg-6">
                                <h6 class="mb-3"><i class="fas fa-check-circle me-2"></i>Report Lost Items</h6>
                                <h6 class="mb-3"><i class="fas fa-check-circle me-2 text-primary"></i>Post Found Objects</h6>
                                <h6 class="mb-3"><i class="fas fa-check-circle me-2 text-secondary"></i>Search by Category</h6>
                            </div>
                            <div class="col-lg-6">
                                <h6 class="mb-3"><i class="fas fa-check-circle me-2"></i>Easy to Use Platform</h6>
                                <h6 class="mb-3"><i class="fas fa-check-circle me-2 text-primary"></i>Secure & Verified Posts</h6>
                                <h6><i class="fas fa-check-circle me-2 text-secondary"></i>Community Assistance</h6>
                            </div>
                        </div>
                      
                    </div>
                </div>
            </div>
        </div>